{
  "parser": "babel-eslint",
  "extends": ["node"],
  "env": {
    "node": true
  },
  "rules": {
    "import/default": "off",
    "semi": ["error", "never"],
    "import/no-nodejs-modules": "off",
    "import/prefer-default-export": "off",
    "import/no-named-as-default": "off"
  }
}
